# Arquivos de Sistema Operacional e IDEs
.DS_Store
Thumbs.db
*.log
.vscode/

# Dependências e logs do Node.js
/app/node_modules
/app/npm-debug.log

# Arquivos de estado, cache e logs do Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl

# Arquivos de ambiente que podem conter senhas
.env